.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: #b2ebf2;
  border-radius: 5px;
  padding: 10px;
}

.dialogsItems .dialog {
  padding: 10px;
}
.active {
  border-right: 1px solid #000;
  color: #fff;
}
.messages {
  padding-left: 10px;
}
.messages .message {
  padding: 10px;
}
.message {
  resize: none;
  border-radius: 5px;
}
.post {
  height: 40px;
  width: 90px;
  border-radius: 5px;
  background-color: #1de9b6;
  font-size: 18px;
  margin-top: 20px;
}
.post:hover {
  background-color: #64ffda;
  cursor: pointer;
}
